# Copiar como .env.docker.local y reemplazar los valores.

MYSQL_ROOT_PASSWORD=CAMBIAR
DB_PASSWORD=CAMBIAR
BACKEND_BASIC_PASSWORD=CAMBIAR
BFF_TLS_PASSWORD=changeit

OAUTH_WEB_SECRET=CAMBIAR
OAUTH_MOVIL_SECRET=CAMBIAR
OAUTH_CAJERO_SECRET=CAMBIAR
